@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 5px;
}
::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background-color: #888;
  border-radius: 5px;
}

:root {
  --link: #61dafb;
  --bg: #282c34;
}

body {
  background-color: var(--bg);
  color: white;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.resultbox,
.resultInfobox {
  height: 85%;
  width: 47%;
  overflow-y: auto;
}

@media screen and (min-width: 1024px) {
  .resultbox,
  .resultInfobox {
    width: 35vw;
  }
}
@media screen and (min-width: 1280px) {
  .resultbox,
  .resultInfobox {
    width: 30vw;
  }
}
.movie-img {
  width: 20%;
  aspect-ratio: 3/4;
  object-fit: cover;
}

.movie-info {
  font-size: 15px;
}

lord-icon {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translatey(-50%);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}
