@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

::-webkit-scrollbar {
  /* Customize the scrollbar width */
  width: 4px;
}
::-webkit-scrollbar-thumb {
  /* Customize the scrollbar thumb */
  background-color: #888;
  border-radius: 5px;
}

:root {
  --link: #61dafb;
  --bg: #282c34;
}

body {
  background-color: var(--bg);
  color: white;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* navbar-section */
form lord-icon {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  right: 5%;
}

#form {
  animation: fade-in 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* resultbox-section */
.movie-img {
  width: 20%;
  aspect-ratio: 3/4;
}
.resultbox,
.resultInfobox {
  height: 85vh;
  overflow-y: auto;
}

/* resultInfobox-section */
.movieDetailsImg {
  width: 35%;
  margin: auto 0;
}
.movieDetailsImg img {
  width: 100%;
  border-radius: 0.5rem;
  aspect-ratio: 3/4;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #25b09b;
  animation: l15 1s infinite linear;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}
.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15 {
  100% {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 767px) {
  .resultbox,
  .resultInfobox {
    height: 45vh;
    width: 95%;
    margin: 0 auto;
  }
  .movieDetailsImg {
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .resultbox,
  .resultInfobox {
    width: 48vw;
  }
}
@media screen and (min-width: 1024px) {
  .resultbox,
  .resultInfobox {
    width: 35vw;
  }
}
@media screen and (min-width: 1280px) {
  .resultbox,
  .resultInfobox {
    width: 30vw;
  }
  .movie-img {
    width: 17%;
  }
}
